[submodule "deltalm/fairseq"]
	path = deltalm/fairseq
	url = https://github.com/pytorch/fairseq.git
[submodule "speechlm/fairseq"]
	path = speechlm/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "speecht5/fairseq"]
	path = speecht5/fairseq
	url = https://github.com/facebookresearch/fairseq.git
