vllm==0.3.2
openai==0.28.1
torch
transformers
datasets
deepspeed
accelerate
peft
evaluate
tokenizers
protobuf
tiktoken
rouge_score
tensorboard
wandb
gradio
termcolor
jsonlines
unidic-lite
einops
auto-gptq
fire
jupyterlab
scikit-learn
scipy
packaging
sentencepiece