repos:
  - repo: https://github.com/python/black
    rev: 19.3b0
    hooks:
      - id: black
        stages: [commit]
        language_version: python3.6
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21 # Use the revision sha / tag you want to point at
    hooks:
      - id: isort
        stages: [commit]
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config
        stages: [commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0 # Use the ref you want to point at
    hooks:
      - id: flake8
        language_version: python3.6
        stages: [commit]
